* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    border: solid white 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
}

body {
    background-image: url(./images/beach.png);
    background-size: 110%;
}

h1 {
    text-align: center;
    margin-left: 210pt ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 75px;
    margin-top: 5px;
}

#game-start {
    flex-flow: column;
    width: 30%;
    margin-top: 25px;
    margin-left: 20px;
    padding: 28px 40px;
    background-color: white;
    opacity: 80%;
   
  }

p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    text-align: center;

}
#button-start {
    margin-top: 15pt;
   margin-left: 50pt;
   padding: 7pt 40pt;
   background-color: darkblue;
   font-size: medium;
    color: white;
 }
 #restart-button {
    margin-top: 15pt;
   margin-left: 50pt;
   padding: 7pt 33pt;
   background-color: darkblue;
   font-size: medium;
    color: white;
 }

.h-text {
    font-weight: bold;
}
.surfer-start {
    width: 10%;
    margin-top: 20pt;
}

.wave-start {
    width: 5%;
}

.plastic-start {
    width: 8%;
}

#surfer {
    display: none;
}

#background {
    display: none;
}

#surfer1 {
    display: none;
}

#surfer2 {
    display: none;
}

#wave {
    display: none;
}

#plastic {
    display: none;
}

#button-restart {
    display: none;
}

#button-start {
    display: block;
}

